
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의 상세</title>
</head>
<body>


<h1>답변 상세 페이지</h1>

제목 : <span th:text="${complain.getTitle()}"></span> <br>
작성자 : <span th:text="${customer}"></span><br>
분류 : <span th:text="${complain.getCategory()}"></span><br>
내용 : <span th:text="${complain.getContent()}"></span><br>
<p>첨부파일</p>
<div th:if="${not #lists.isEmpty(complain.getFileAttachments())}">
    <ul th:each="file : ${complain.getFileAttachments()}">
        <a th:href="@{/download(filePath=${file.getFilePath()})}" th:text="${file.getFileName()}"></a>
    </ul>
</div>

<br>
<h3>답변하기</h3>
<form method="post" th:action="@{/cs/admin/{complainId}(complainId=${complainId})}">
답변 내용 : <textarea type="text" name="content"></textarea><br />
    <button type="submit">답변하기</button>
</form>
<a href="/cs/admin" style="display:inline;">
    <button type="button">취소</button>
</a>


</body>
</html>