<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <head>
        <meta charset="UTF-8">
        <title>User</title>
    </head>
<body>

<h2>여기는 고객 페이지</h2>
id: <span th:text="${customer.id}"></span><br>
name: <span th:text="${customer.name}"></span><br>
<!--role: <span th:text="${user.role}"></span><br>-->

<p>여기에 문의 목록이 들어갈 예정</p>


<div th:if="${not #lists.isEmpty(complains)}">
    <ul th:each="complain : ${complains}">
        <li th:text="${complain.getTitle()}"></li>
    </ul>
</div>

<div th:if="${#lists.isEmpty(complains)}">
    <p>문의하신 내역이 없습니다^~^</p>
</div>
<br>

<form method="get" action="/cs/complain" style="display:inline;"><button type="submit">문의하기</button></form>



<!--<a th:href="@{/logout}">로그아웃</a><br>-->

<form method="post" action="/cs/logout" style="display:inline;"><button type="submit">로그아웃</button></form>

</body>
</html>